{% extends 'weather/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content_add %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <form action="" method="post">
                {% csrf_token %}
                <label>Добавить новый город</label><br>
                {{ form.name }}
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-primary">
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for info in all_info %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-9">
                            <h4 class="my-0 fw-normal">{{ info.city }}</h4>
                        </div>
                        <div class="col-2 offset">
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды"
                                 class="img-thunbnail">
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li><b>Температура </b>{{ info.temp }}<sup>0</sup></li>
                        <li><b>Cкорость ветра </b> {{ info.wind }} м.с.</li>
                    </ul>
                    <a href="{% url 'city_delete' info.id %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
